__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
.Python/ 
.venv/ 
env/ 
*.spec 
build/ 
dist/ 
output/ 
999.png 
.DS_Store 
Thumbs.db 
Desktop.ini 
.vscode/ 
.idea/ 
*.sublime-project 
*.sublime-workspace 
*.log 
*.out 
*.err 
